[Unit]
Description=BatMon module for Wiren Board
After=network.target

[Service]
Type=simple
WorkingDirectory=/mnt/data/etc
ExecStart=/mnt/data/etc/wb-batmon/venv/bin/python3 main.py
Restart=always
TimeoutSec=120

[Install]
WantedBy=multi-user.target